<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
      
    <div role="main">
        
        <table>
        <% for(var i in content) { %>
        <tr>
            <% var obj = content[i]; %>
            <th><%= obj.id %></th>
            <td><%= obj.name %></td>
            <td><%= obj.mail %></td>
            <td><%= obj.age %></td>            
        </tr>
        <% } %>
        </table>
    
      </div>
      
  </body>
</html>